/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 3

   Pixal Arts and Entertainment Animation Styles
   Author: Yelaina Buford
   Date:   12/16/19

   Filename: 
   
   Sprite animation is created using the paa_bat.png, 
   paa_bfly.png, and paa_fox.png image files.
   
   paa_bat.png has 40 frames
   paa_bfly.png has 34 frames
   paa_fox.png has 28 frames

*/


/* Transition Effects */
nav#gameLinks a{
   position: relative;
   color: white;
   transition: color .5s;
}
nav#gameLinks a:hover{
   color: rgb(255, 194, 99);
}
nav#gameLinks a::after{
   content: "";
   position: absolute;
   top: 100%;
   left: 0px;
   width: 0%;
   height: 8px;
   background: linear-gradient(rgb(237, 243, 71), rgb(188, 74, 0));
   border-radius: 4px;
   opacity: 0;
}
nav#gameLinks a:hover::after{
   content: "";
   position: absolute;
   top: 100%;
   left: 0px;
   width: 100%;
   height: 8px;
   background: linear-gradient(rgb(237, 243, 71) , rgb(188, 74, 0));
   border-radius: 4px;
   opacity: 1;
   transition: opacity 0.5s, width .5s;
}


/* Sprite Styles */
div.sprite{
   position: absolute;
}
div#bat{
   position: absolute;
   
   top: 40px;
   height: 50px;
   top: 100px;
   left: -50px;
   background: url(paa_bat.png) left center/ cover no-repeat;
}
div#butterfly{
  position: absolute;
   background: url(paa_butterfly.png); 
}
div#fox{
   width: 280px;
   height: 260px;
   bottom: 10px;
   right: 10px;
}
/* Animation Styles */
@keyframes playSprite{
   100%{
      background-position: right;
   }
}
div#butterfly{
   animation: playSprite 3s;

}
